body {
  background: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.card {
  max-width: 400px;
  margin-bottom: 0 auto;
  background: hsl(0, 0%, 100%);
  border-radius: 20px;
  text-align: center;
  padding: 16px;
}

.card-container-img {
  width: 100%;
  border-radius: 15px;
  display: block;
}

.card-info {
  padding: 0 24px 16px 16px;
}

h1 {
  color: hsl(218, 44%, 22%);
  font-size: 22px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 16px;
}

p {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
}

.card:hover {
  background: hsl(209, 66%, 95%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 375px) {
  .card {
    margin-top: 2rem;
    width: 90%;
  }
}
